<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master}">

<body>

<div layout:fragment="content">

    <div class="row g-4">

        <!-- ===================================================== -->
        <!-- PATIENT INFORMATION -->
        <!-- ===================================================== -->

        <div class="col-lg-8">

            <div class="main-card mb-4">

                <div class="section-title">
                    <i class="bi bi-person me-2"></i>
                    Patient Information
                </div>

                <div class="row g-4">

                    <div class="col-md-4">

                        <small class="text-secondary">
                            Patient ID
                        </small>

                        <div class="fw-semibold"
                             th:text="${patient.patientCode}">
                        </div>

                    </div>

                    <div class="col-md-4">

                        <small class="text-secondary">
                            First Name
                        </small>

                        <div class="fw-semibold"
                             th:text="${patient.firstName}">
                        </div>

                    </div>

                    <div class="col-md-4">

                        <small class="text-secondary">
                            Last Name
                        </small>

                        <div class="fw-semibold"
                             th:text="${patient.lastName}">
                        </div>

                    </div>

                    <div class="col-md-4">

                        <small class="text-secondary">
                            Gender
                        </small>

                        <div class="fw-semibold"
                             th:text="${patient.gender}">
                        </div>

                    </div>

                    <div class="col-md-4">

                        <small class="text-secondary">
                            Date of Birth
                        </small>

                        <div class="fw-semibold"
                             th:text="${patient.dateOfBirth}">
                        </div>

                    </div>

                    <div class="col-md-4">

                        <small class="text-secondary">
                            Age
                        </small>

                        <div class="fw-semibold"
                             th:text="${patient.age}">
                        </div>

                    </div>

                    <div class="col-md-4">

                        <small class="text-secondary">
                            Blood Group
                        </small>

                        <div class="fw-semibold text-danger"
                             th:text="${patient.bloodGroup}">
                        </div>

                    </div>

                    <div class="col-md-4">

                        <small class="text-secondary">
                            Mobile
                        </small>

                        <div class="fw-semibold"
                             th:text="${patient.mobile}">
                        </div>

                    </div>

                    <div class="col-md-4">

                        <small class="text-secondary">
                            Email
                        </small>

                        <div class="fw-semibold"
                             th:text="${patient.email}">
                        </div>

                    </div>

                    <div class="col-md-6">

                        <small class="text-secondary">
                            Address
                        </small>

                        <div class="fw-semibold"
                             th:text="${patient.address}">
                        </div>

                    </div>

                    <div class="col-md-6">

                        <small class="text-secondary">
                            Occupation
                        </small>

                        <div class="fw-semibold"
                             th:text="${patient.occupation}">
                        </div>

                    </div>

                </div>

            </div>


            <!-- ================================================= -->
            <!-- MEDICAL HISTORY -->
            <!-- ================================================= -->
            <div class="main-card mb-4">

                <div class="section-title">
                    <i class="bi bi-heart-pulse me-2"></i>
                    Medical History
                </div>

                <div class="row g-3">

                    <!-- ==================== -->
                    <!-- MEDICAL CONDITIONS -->
                    <!-- ==================== -->

                    <div class="col-md-3" th:if="${patient.diabetes}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Diabetes
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.hypertension}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Hypertension
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.gastricProblem}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Gastric Problem
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.asthma}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Asthma
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.arthritis}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Arthritis
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.migraine}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Migraine
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.rheumaticArthritis}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Rheumatic Arthritis
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.rheumaticFever}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Rheumatic Fever
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.allergy}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Allergy
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.fever}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Fever
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.cough}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Cough
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.cold}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Cold
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.sinusitis}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Sinusitis
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.eczema}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Eczema
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.constipation}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Constipation
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.diarrhea}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Diarrhea
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.insomnia}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Insomnia
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.anxiety}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Anxiety
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.depression}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Depression
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.obesity}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Obesity
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.tumor}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Tumor
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.lipomasTumor}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Lipomas Tumor
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.bronchitis}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Bronchitis
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.dengue}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Dengue
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.typhoid}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Typhoid
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.backPain}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Back Pain
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.neckPain}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Neck Pain
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.thyroidDisorder}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Thyroid Disorder
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.skinAllergy}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Dysentery
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.kidneyStone}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Kidney Stone
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.hemorrhoidsPiles}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Hemorrhoids / Piles
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.urinaryTractInfectionUti}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Urinary Tract Infection (UTI)
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.dogBite}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Gallbladder Stones
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.catBite}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Headache
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.snakeBite}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Polipas
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.centipedesBite}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Sciatica
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.otherBites}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Bite
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.aids}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                AIDS
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.copd}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Tonsils
            </span>
                    </div>

                    <div class="col-md-3" th:if="${patient.gerd}">
            <span class="badge text-dark" style="background-color: #a8cdca;">
                Teeth Pain
            </span>
                    </div>


                    <!-- ==================== -->
                    <!-- NO MEDICAL HISTORY -->
                    <!-- ==================== -->

                    <div class="col-12"
                         th:if="${!patient.diabetes
                    && !patient.hypertension
                    && !patient.gastricProblem
                    && !patient.asthma
                    && !patient.arthritis
                    && !patient.migraine
                    && !patient.rheumaticArthritis
                    && !patient.rheumaticFever
                    && !patient.allergy
                    && !patient.fever
                    && !patient.cough
                    && !patient.cold
                    && !patient.sinusitis
                    && !patient.eczema
                    && !patient.constipation
                    && !patient.diarrhea
                    && !patient.insomnia
                    && !patient.anxiety
                    && !patient.depression
                    && !patient.obesity
                    && !patient.tumor
                    && !patient.lipomasTumor
                    && !patient.bronchitis
                    && !patient.dengue
                    && !patient.typhoid
                    && !patient.backPain
                    && !patient.neckPain
                    && !patient.thyroidDisorder
                    && !patient.skinAllergy
                    && !patient.kidneyStone
                    && !patient.hemorrhoidsPiles
                    && !patient.urinaryTractInfectionUti
                    && !patient.dogBite
                    && !patient.catBite
                    && !patient.snakeBite
                    && !patient.centipedesBite
                    && !patient.otherBites
                    && !patient.aids
                    && !patient.copd
                    && !patient.gerd}">

            <span class="text-secondary">
                No recorded medical conditions.
            </span>

                    </div>

                </div>


                <!-- ================================================= -->
                <!-- ADDITIONAL MEDICAL INFORMATION -->
                <!-- ================================================= -->

                <div class="row g-4 mt-2">

                    <div class="col-md-6">

                        <small class="text-secondary">
                            Mental Symptoms
                        </small>

                        <div th:text="${patient.mentalSymptoms}">
                        </div>

                    </div>


                    <div class="col-md-6">

                        <small class="text-secondary">
                            Previous Medication / Other Diseases
                        </small>

                        <div th:text="${patient.previousMedication}">
                        </div>

                    </div>

                </div>

            </div>

            <!-- ================================================= -->
            <!-- APPOINTMENT HISTORY -->
            <!-- ================================================= -->

            <div class="main-card mb-4">

                <div class="d-flex justify-content-between
                            align-items-center mb-4">

                    <div class="section-title mb-0">

                        <i class="bi bi-calendar-check me-2"></i>

                        Appointment History

                    </div>


                    <a th:href="@{/patients/appointment/new/{patientCode}
                                (patientCode=${patient.patientCode})}"
                       class="btn btn-primary-custom">

                        <i class="bi bi-plus-lg me-1"></i>

                        New Appointment

                    </a>

                </div>


                <div th:if="${#lists.isEmpty(appointments)}"
                     class="text-secondary">

                    No appointments found.

                </div>


                <div th:unless="${#lists.isEmpty(appointments)}"
                     class="table-responsive">

                    <table class="table table-hover align-middle">

                        <thead>

                        <tr>

                            <th>
                                Date
                            </th>

                            <th>
                                Time
                            </th>

                            <th>
                                Type
                            </th>

                            <th>
                                Chief Complaint
                            </th>

                            <th>
                                Diagnosis
                            </th>

                        </tr>

                        </thead>


                        <tbody>

                        <tr th:each="appointment : ${appointments}">

                            <td th:text="${appointment.appointmentDate}">
                            </td>

                            <td th:text="${appointment.appointmentTime}">
                            </td>

                            <td>

                                <span class="badge bg-light text-dark"
                                      th:text="${appointment.appointmentType}">
                                </span>

                            </td>

                            <td th:text="${appointment.chiefComplaint}">
                            </td>

                            <td th:text="${appointment.diagnosis}">
                            </td>

                        </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>


        <!-- ===================================================== -->
        <!-- PATIENT SUMMARY -->
        <!-- ===================================================== -->

        <div class="col-lg-4">

            <div class="summary-card sticky-sidebar">

                <h5 class="fw-bold mb-4">
                    Patient Summary
                </h5>


                <!-- Patient ID -->

                <div class="summary-item">

                    <small class="text-secondary">
                        Patient ID
                    </small>

                    <div class="fw-semibold"
                         th:text="${patient.patientCode}">
                    </div>

                </div>


                <!-- Last Visit -->

                <div class="summary-item">

                    <small class="text-secondary">
                        Last Visit
                    </small>

                    <div class="fw-semibold"
                         th:if="${not #lists.isEmpty(appointments)}"
                         th:text="${appointments[0].appointmentDate}">
                    </div>

                    <div class="text-secondary"
                         th:if="${#lists.isEmpty(appointments)}">

                        No visit yet

                    </div>

                </div>


                <!-- Blood Group -->

                <div class="summary-item">

                    <small class="text-secondary">
                        Blood Group
                    </small>

                    <div class="fw-semibold text-danger"
                         th:text="${patient.bloodGroup}">
                    </div>

                </div>


                <!-- Allergy -->

                <!--                <div class="summary-item">-->

                <!--                    <small class="text-secondary">-->
                <!--                        Allergy Alert-->
                <!--                    </small>-->

                <!--                    <div class="fw-semibold text-warning">-->

                <!--                        <span th:if="${patient.allergy}">-->
                <!--                            Allergy-->
                <!--                        </span>-->

                <!--                        <span th:unless="${patient.allergy}">-->
                <!--                            No known allergy-->
                <!--                        </span>-->

                <!--                    </div>-->

                <!--                </div>-->


                <hr>


                <!-- Recent Visits -->

                <h6 class="fw-bold mb-3">
                    Recent Visits
                </h6>


                <div class="timeline">

                    <div class="timeline-item"
                         th:each="appointment : ${appointments}">

                        <small
                                th:text="${appointment.appointmentDate}">
                        </small>

                        <div class="fw-semibold"
                             th:text="${appointment.chiefComplaint}">
                        </div>

                    </div>


                    <div th:if="${#lists.isEmpty(appointments)}"
                         class="text-secondary small">

                        No visit history.

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

</body>

</html>
