<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master}">

<head>

    <title>Patient Registration</title>


    <!-- ===================================================== -->
    <!-- PAGE CSS -->
    <!-- ===================================================== -->

    <th:block layout:fragment="pageCss">

        <link rel="stylesheet"
              th:href="@{/css/appointment.css}">

    </th:block>

</head>


<body>


<div layout:fragment="content">


    <form th:action="@{/patients/save}"
          th:object="${form}"
          method="post">


        <!-- ===================================================== -->
        <!-- PATIENT ID -->
        <!-- ===================================================== -->

        <input type="hidden"
               th:field="*{patient.patientId}">

        <input type="hidden"
               th:field="*{patient.patientCode}">


        <!-- ===================================================== -->
        <!-- BASIC INFORMATION -->
        <!-- ===================================================== -->

        <div class="main-card mb-4">

            <div class="section-title">

                <i class="bi bi-person me-2"></i>

                Basic Information

            </div>


            <div class="row g-4">


                <!-- FIRST NAME -->

                <div class="col-md-4">

                    <label class="form-label">
                        First Name
                    </label>

                    <input type="text"
                           class="form-control"
                           th:field="*{patient.firstName}">

                </div>


                <!-- LAST NAME -->

                <div class="col-md-4">

                    <label class="form-label">
                        Last Name
                    </label>

                    <input type="text"
                           class="form-control"
                           th:field="*{patient.lastName}">

                </div>


                <!-- GENDER -->

                <div class="col-md-4">

                    <label class="form-label">
                        Gender
                    </label>

                    <select class="form-select"
                            th:field="*{patient.gender}">

                        <option value="">
                            Select
                        </option>

                        <option value="Male">
                            Male
                        </option>

                        <option value="Female">
                            Female
                        </option>

                        <option value="Other">
                            Other
                        </option>

                    </select>

                </div>


                <!-- DATE OF BIRTH -->

                <div class="col-md-4">

                    <label class="form-label">
                        Date of Birth
                    </label>

                    <input type="date"
                           class="form-control"
                           th:field="*{patient.dateOfBirth}">

                </div>


                <!-- AGE -->

                <div class="col-md-4">

                    <label class="form-label">
                        Age
                    </label>

                    <input type="number"
                           class="form-control"
                           th:field="*{patient.age}">

                </div>


                <!-- BLOOD GROUP -->

                <div class="col-md-4">

                    <label class="form-label">
                        Blood Group
                    </label>

                    <select class="form-select"
                            th:field="*{patient.bloodGroup}">

                        <option value="">
                            Select
                        </option>

                        <option value="A+">
                            A+
                        </option>

                        <option value="A-">
                            A-
                        </option>

                        <option value="B+">
                            B+
                        </option>

                        <option value="B-">
                            B-
                        </option>

                        <option value="AB+">
                            AB+
                        </option>

                        <option value="AB-">
                            AB-
                        </option>

                        <option value="O+">
                            O+
                        </option>

                        <option value="O-">
                            O-
                        </option>

                    </select>

                </div>


                <!-- MARITAL STATUS -->

                <div class="col-md-4">

                    <label class="form-label">
                        Marital Status
                    </label>

                    <select class="form-select"
                            th:field="*{patient.maritalStatus}">

                        <option value="">
                            Select
                        </option>

                        <option value="Single">
                            Single
                        </option>

                        <option value="Married">
                            Married
                        </option>

                        <option value="Divorced">
                            Divorced
                        </option>

                        <option value="Widowed">
                            Widowed
                        </option>

                    </select>

                </div>


            </div>

        </div>


        <!-- ===================================================== -->
        <!-- CONTACT INFORMATION -->
        <!-- ===================================================== -->

        <div class="main-card mb-4">

            <div class="section-title">

                <i class="bi bi-telephone me-2"></i>

                Contact Information

            </div>


            <div class="row g-4">


                <!-- MOBILE -->

                <div class="col-md-4">

                    <label class="form-label">
                        Mobile
                    </label>

                    <input type="text"
                           class="form-control"
                           th:field="*{patient.mobile}">

                </div>


                <!-- EMAIL -->

                <div class="col-md-4">

                    <label class="form-label">
                        Email
                    </label>

                    <input type="email"
                           class="form-control"
                           th:field="*{patient.email}">

                </div>


                <!-- EMERGENCY CONTACT -->

                <div class="col-md-4">

                    <label class="form-label">
                        Emergency Contact
                    </label>

                    <input type="text"
                           class="form-control"
                           th:field="*{patient.emergencyContact}">

                </div>


                <!-- ADDRESS -->

                <div class="col-md-6">

                    <label class="form-label">
                        Address
                    </label>

                    <textarea class="form-control"
                              rows="2"
                              th:field="*{patient.address}"></textarea>

                </div>


                <!-- OCCUPATION -->

                <div class="col-md-6">

                    <label class="form-label">
                        Occupation
                    </label>

                    <input type="text"
                           class="form-control"
                           th:field="*{patient.occupation}">

                </div>


            </div>

        </div>


        <!-- ===================================================== -->
        <!-- MEDICAL HISTORY -->
        <!-- ===================================================== -->

        <div class="main-card mb-4">


            <div class="section-title">

                <i class="bi bi-heart-pulse me-2"></i>

                Medical History

            </div>


            <!-- ================================================= -->
            <!-- MEDICAL CHECKBOX GRID -->
            <!-- ================================================= -->

            <div class="checkbox-grid">


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.diabetes}">

                    Diabetes

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.hypertension}">

                    Hypertension

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.gastricProblem}">

                    Gastric Problem

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.asthma}">

                    Asthma

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.arthritis}">

                    Arthritis

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.migraine}">

                    Migraine

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.rheumaticArthritis}">

                    Rheumatic Arthritis

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.rheumaticFever}">

                    Rheumatic Fever

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.allergy}">

                    Allergy

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.fever}">

                    Fever

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.cough}">

                    Cough

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.cold}">

                    Cold

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.sinusitis}">

                    Sinusitis

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.eczema}">

                    Eczema

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.constipation}">

                    Constipation

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.diarrhea}">

                    Diarrhea

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.insomnia}">

                    Insomnia

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.anxiety}">

                    Anxiety

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.depression}">

                    Depression

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.obesity}">

                    Obesity

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.tumor}">

                    Tumor

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.lipomasTumor}">

                    Lipomas Tumor

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.bronchitis}">

                    Bronchitis

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.dengue}">

                    Dengue

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.typhoid}">

                    Typhoid

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.backPain}">

                    Back Pain

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.neckPain}">

                    Neck Pain

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.thyroidDisorder}">

                    Thyroid Disorder

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.skinAllergy}">

                    Dysentery

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.kidneyStone}">

                    Kidney Stone

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.hemorrhoidsPiles}">

                    Hemorrhoids (Piles)

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.urinaryTractInfectionUti}">

                    Urinary Tract Infection (UTI)

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.dogBite}">

                    Gallbladder stones

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.catBite}">

                    Headache

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.snakeBite}">

                    Polipas

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.centipedesBite}">

                    Sciatica

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.otherBites}">

                    Bite

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.aids}">

                    AIDS

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.copd}">

                    Tonsils

                </div>


                <div class="medical-box">

                    <input type="checkbox"
                           th:field="*{patient.gerd}">

                    Teeth pain

                </div>


            </div>


            <!-- ================================================= -->
            <!-- ADDITIONAL MEDICAL INFORMATION -->
            <!-- ================================================= -->

            <div class="row g-4 mt-2">


                <div class="col-md-6">

                    <label class="form-label">
                        Mental Symptoms
                    </label>

                    <textarea class="form-control"
                              rows="3"
                              th:field="*{patient.mentalSymptoms}"></textarea>

                </div>


                <div class="col-md-6">

                    <label class="form-label">
                        Previous Medication / Other Diseases
                    </label>

                    <textarea class="form-control"
                              rows="3"
                              th:field="*{patient.previousMedication}"></textarea>

                </div>


            </div>


        </div>


        <!-- ===================================================== -->
        <!-- APPOINTMENT + MEDICINES -->
        <!-- ===================================================== -->

        <div th:replace="~{fragments/inputs :: appointmentSection}"></div>


        <!-- ===================================================== -->
        <!-- SAVE -->
        <!-- ===================================================== -->

        <div class="d-flex justify-content-end gap-2 mb-5">


            <a th:href="@{/patients/list}"
               class="btn btn-outline-secondary px-4 rounded-4">

                <span>Cancel</span>

            </a>


            <button type="submit"
                    class="btn btn-primary-custom">

                <i class="bi bi-check-lg me-1"></i>

                Save Patient & Appointment

            </button>


        </div>


    </form>

</div>


<!-- ===================================================== -->
<!-- PAGE JAVASCRIPT -->
<!-- ===================================================== -->

<th:block layout:fragment="pageJs">

    <script th:src="@{/js/appointment.js}"></script>

</th:block>


</body>

</html>